<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Wolfram APP ID</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
<input name="wolfram_key" placeholder="Paste you Wolfram APP ID" class="input" value="{{value}}">
      </div>
      <p class="help">Get your key on the developer portal
        <a href="https://developer.wolframalpha.com">https://developer.wolframalpha.com</a>
      </p>
    </div>
  </div>
</div>